/*----------------------------------------------------------------------------
  Body
----------------------------------------------------------------------------*/
body {
  font-family: $font1;
  color: $black60;
}

/*----------------------------------------------------------------------------
  Headings
----------------------------------------------------------------------------*/



/*----------------------------------------------------------------------------
  HTML
----------------------------------------------------------------------------*/
html {
  font-size: 14px;
}


/*----------------------------------------------------------------------------
  Image
----------------------------------------------------------------------------*/



/*----------------------------------------------------------------------------
  Paragraph
----------------------------------------------------------------------------*/
