.headerimg {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  height: 50px;
  width: 50px;
  margin: 0;
  vertical-align: middle;
}

.js-search-results {
  width: 150px;
}

.js-search-form {
  background-color: white;
  /*min-width: 325px;*/
}

.subwrap {
  width: 100%;
  margin-top: 9px;
}

.textform  {
  width: 100%;
  height: 35px;
  margin-bottom: 5px;
  padding-left: 30px;
  @include responsive(truman) {
    float: left;
    width: 32%;
    margin-right: 2%;
  }
}

.dropdown {
  width: 100%;
  height: 35px;
  margin-bottom: 2%;
  @include responsive(truman) {
    float: left;
    width: 32%;
    margin-right: 2%;
  }
}
@media only screen and (min-width: 720px) {
  select:last-of-type {
    margin-right: 0;
  }
}

.thirdtext {
  width: 34%;
  height: 35px;
  float: left;
  padding: 6px 30px;
  margin-right: 2%;
}
.subwrap input:last-of-type {
  margin-right: 0;
}
.latestvideo {
  margin-right: 70px;
  float: right;
  font-family: sans-serif;
  color: gray;
}
.halftext input {
  margin-top: 9px;
  width: 49%;
  margin-right: 2%;
  height: 35px;
  padding: 6px 30px;
  float: left;
}
.halftext input:last-of-type {
  margin-right: 0;
}
.textform2 {
  margin-top: 2%;
  width: 100%;
  height: 40px;
  padding-left: 30px;
}
.labeltext {
  word-wrap: break-word;
  width: 30%;
  font-family: sans-serif;
  font-size: 22px;
  font-weight: medium;
  color: gray;
  float: left;
  padding: 6px 0;
}
.acenter {
  display: inline-block;
  text-align: center;
}
.text-center {
  text-align: center;
}

/*  Output Styles   */
div.video-box {   // These are for results of query
  width: 100px;
}

.nimg {
  display: inline-block;
  vertical-align: middle;
}
