/*----------------------------------------------------------------------------
  Animations
----------------------------------------------------------------------------*/
$animate: 0.2s;


/*----------------------------------------------------------------------------
  Colors
----------------------------------------------------------------------------*/
$black60: #626262;
$black80: #4a4a4a;

$gray20: #e7e7e7;
$gray30: #d3d3d3;
$gray40: #A0A0A0;
$gray60: #8c8c8c;
$gray70: #858585;
$gray90: #3b3f47;


/*----------------------------------------------------------------------------
  Font Families
----------------------------------------------------------------------------*/
$font1: 'Arial', sans-serif;


/*----------------------------------------------------------------------------
  Font Sizes
----------------------------------------------------------------------------*/
// The base size for this site is 14px
$small: 0.714rem;
$medium: 0.857rem;
$base: 1.0rem;
$large: 1.143rem;
$big: 1.286rem;


/*----------------------------------------------------------------------------
  Font Weights
----------------------------------------------------------------------------*/
// ARIAL
//   400 Normal (aka Regular)
//   700 Bold


/*----------------------------------------------------------------------------
  Overlays
----------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------
  Responsive Breakpoints
----------------------------------------------------------------------------*/
$taft: 375px;
$wilson: 414px;
$harding: 480px;
$coolidge: 550px;
$hoover: 620px;
$froosevelt: 680px;
$truman: 768px;  //c001
$eisenhower: 800px;
$kennedy: 850px;
$johnson: 900px;
$nixon: 992px;  //c001
$ford: 1024px;
$carter: 1100px;
$reagan: 1200px;  //c001
$hbush: 1300px;
$clinton: 1400px;
$wbush: 1500px;
$obama: 1600px;
